# Add keyword expansion filter to the following files
# Required setup (once per repository)
# git config filter.keywordexpander.clean ./do_keyword_expansion %f
# --> NOT NEEDED: git config filter.keywordexpander.smudge cat
# Problem with this: local repository is not automatically updated
gpx2map    filter=keywordexpander
